:global(html),
:global(body) {
  height: 100%;
}

:global(body) {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #424242;
  display: flex;
  flex-direction: column;

  a {
    text-decoration: none;
    color: inherit;
    transition: color 0.2 ease;
  }

  a:hover {
    color: #ffb662;
  }
}

.layout-header {
  padding: 15px;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  box-sizing: border-box;

  .title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
  }

  .navigation {
    display: flex;
    gap: 15px;
  }
}

.children {
  padding: 15px;
  flex: 1;
}

.footer {
  align-items: center;
  border-top: 1px solid #e5e5e5;
  padding: 15px;
  font-size: small;
}

.rackets {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;

  .header {
    display: flex;
    justify-content: space-between;

    .title {
      font-weight: bold;
    }

    .link {
      color: #3b82f6;
    }
  }
}
