.card {
  flex: 1 1 33.333%;
  box-sizing: border-box;

  transition:
    box-shadow 180ms ease,
    transform 120ms ease;
  border-radius: 6px;
  cursor: pointer;

  img {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 3 / 4;
    object-fit: cover;

    border: 1px solid #e5e5e5;
    border-radius: 5px;

    &:hover {
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
      transform: translateY(-4px);
    }
  }
}
